* {
  margin: 0;
  left: 0;
  box-sizing: border-box;
}

body {
  background: aliceblue;
  user-select: none;
}

.App {
  width: 100vw;
  text-align: center;
}

input {
  color: white;
  background: navy;
  width: 60vw;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.show {
  width: 7vw;
  background: crimson;
  color: #FFF;
  font-weight: bold;
}

ul {
  list-style: none;
}

